{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Todos{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('todo.create', user_id = g.user_id) }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for todo in todos %}
    <article class="todo">
      <header>
        <div>
          <h1>{{ todo['content'] }}</h1>
          <div class="about">by {{ todo['username'] }} on {{ todo['created'].strftime('%Y-%m-%d') }} due date {{ todo['due_date'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == todo['author_id'] %}
          <a class="action" href="{{ url_for('todo.update', id=todo['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}