{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="content">Content</label>
    <input name="content" id="content"
      value="{{ request.form['content'] or todo['content'] }}" required>
    <label for="due_date">Due date</label>
    <input name="due_date" id="due_date" value="{{ request.form['due_date'] or todo['due_date']}}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('todo.delete', id=todo['id']) }}" method="post">
    <input class="danger" type="submit" value="Complete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}